@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+JP & display=swap');

body {
    margin: 0;
    background-color: #b80008;
    width: 100%;
    height: auto;
    font-family: 'Noto Sans JP', sans-serif;
}

div {
    display: block;
}

img {
    vertical-align: top;
}

header {
    width: 84%;
    margin-left: 8%;
    position: relative;
}

.pctopImg {
    width: 100%;
    display: block;
}

.sptopImg {
    display: none;
}

.logoImg {
    width: 15%;
    left: 42.5%;
    bottom: 2.5%;
    position: absolute;
}

.borderBox {
    width: 100%;
    height: 8px;
    background: url(pc_border.jpg) center repeat-x;
}

.contentWrapper {
    width: 100%;
    height: auto;
    background: url(pc_top_bg.jpg) top center no-repeat #2b2b2d;
    background-size: 100% auto;
    z-index: 50;
}

.newsBox {
    width: 634px;
    margin: 0 auto;
    z-index: 51;
}

.newsHeader {
    width: 100%;
    height: 28px;
    background: url(pc_news_header.png) top center no-repeat;
    z-index: 52;
}

.newsContentBox {
    width: 100%;
    height: auto;
    background: url(pc_news_content.png) top center repeat-y;
    z-index: 52;
}

.newsFooter {
    width: 100%;
    height: 8px;
    background: url(pc_news_footer.png) top center no-repeat;
    z-index: 52;
}

.newsFooterAdd {
    width: 100%;
    height: 12px;
    background: url(pc_news_footer_add.png) top center no-repeat;
    z-index: 52;
}

.mainContent  {
    margin-left: 5%;
    width: 90%;
}

.time {
    font-size: 12px;
    margin-top: -0.001px;
    margin-left: 5%;
}

.title {
    width: 90%;
    margin-left: 5%;
    border-bottom: solid 4px #264480;
}

.mainText {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    margin-bottom: 0.01px;
}

label {
    width: 90%;
    margin-left: 5%;
}

.submitButton {
    width: 30%;
    margin-left: 35%;
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 14px;        
    text-align    : center;      
    cursor        : pointer;     
    padding       : 12px 12px;   
    background    : #000066;     
    color         : #ffffff;     
    line-height   : 1em;         
    transition    : .3s;         
    border        : 2px solid #000066;    
  }
.submitButton:hover {
    color         : #000066;     
    background    : #ffffff;     
}

footer {
    text-align: center;
    padding-top: 50px;
    height: 150px;
    background-color: white;
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
        margin-left: 0;
    }

    .sptopImg {
        display: block;
        width: 100%;
    }

    .pctopImg {
        display: none;
    }

    .logoImg {
        display: none;
    }

    .newsBox {
        width: 300px;
    }

    .borderBox {
        background: url(sp_border.jpg) center repeat-x;
    }

    .contentWrapper {
        background: url(sp_top_bg.jpg) top center no-repeat #2b2b2d;
    }   

    .newsHeader {
        height: 16px;
        background: url(sp_news_header.png) top center  no-repeat;
        background-size: 300px 16px;
    }

    .newsContentBox {
        background: url(sp_news_content.png) top center repeat-y;
        background-size: 300px 20px;
    }
    
    .newsFooter {
        background: url(sp_news_footer.png) top center no-repeat;
        background-size: 300px 6px;
    }
    
    .newsFooterAdd {
        background: url(sp_news_footer_add.png) top center no-repeat;
        background-size: 300px 8px;
    }
}