html {
    overflow-x: hidden;
    overflow-y: scroll; -webkit-overflow-scrolling: touch
}   

body {
    margin: 0;
    background-color: #b80008;
}

img {
    vertical-align: top;
}

div {
    margin: 0;
    padding: 0;
}

.topImg {
    height: 16vh;
    width: 100%;
    object-fit: cover;
}

.top {
    width: 100%;
    position: relative;
}

.topImg2 {
    width: 45%;
    right: 27.5%;
    position: absolute;
}

.border {
    width: 100%;
}

.borderImg {
    width: 100%;
}

.contentBox {
    background-image: url(https://www.monster-strike.com/assets/images/common/sp_top_bg.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}